<template>
<div class="favoriteMoviesClass">
    <h3>My Favorite Moives</h3>
    <table>
        <tr>
            <th>Movie Title</th>
            <th>Movie Year</th>
            <th>Movie Poster</th>
            <th>Delete</th>
            <th>Detail</th>
        </tr>
        <tr v-for="(i, index) in this.$store.state.favoriteMovies" :key="index">
            <td>{{i.Title}}</td>
            <td>{{i.Year}}</td>
            <td>
                <img class="imgPoster" :src="i.Poster" :alt="i.Title">
            </td>
            <td>
                <button @click="deleteFav(index)">-</button>
            </td>
            <td>
                <button @click="detail(i.imdbID)">Detail</button>
            </td>
        </tr>
    </table>
    <button @click="goSearch">Go Search</button>
    <button @click="goReview">Go Review</button>
</div>
</template>

<script>
export default {
    name: 'FavoriteMovies',
    methods: {
        deleteFav(index) {
            this.$store.commit('deleteFavoriteMovie', index);
        },
        goSearch() {
            this.$router.push('/search');
        },
        detail(id) {
            this.$store.commit('setImdbID', id);
            this.$router.push('/detail');
        },
        goReview() {
            this.$router.push('/review');
        }
    }
}
</script>

<style scoped>
.favoriteMoviesClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgPoster {
    width: 50px;
    height: auto;
}
table, th, td {
    border: 2px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>