<template>
  <div class="detailPage">
      <div class="imgRow">
        <img class="imgPoster" :src="detailMovie.data.Poster" :alt="detailMovie.data.Title">
      </div>
      <div class="infoRow">
          <button @click="goSearch">Go Search</button>
        <h2>{{detailMovie.data.Title}}</h2>
        <span>Released: {{detailMovie.data.Released}}</span> <br>
        <span>Director: {{detailMovie.data.Director}}</span> <br>
        <span>Writer: {{detailMovie.data.Writer}}</span> <br>
        <span>Actors: {{detailMovie.data.Actors}}</span>
        <p>Plot: {{detailMovie.data.Plot}}</p>
        <span>Country: {{detailMovie.data.Country}}</span> <br>
        <span>Awards: {{detailMovie.data.Awards}}</span> <br>
        <span>imdb Rating: {{detailMovie.data.imdbRating}}</span> <br>
        <span>imdb Votes: {{detailMovie.data.imdbVotes}}</span> <br>
        <input type="text" placeholder="Max: 100" v-model="myVote"> <br>
        <textarea v-model="review" class="reviewClass" rows="10"></textarea> <br>
        <button @click="addReview">Add Review and Vote</button>
      </div>
  </div>
</template>

<script>

export default {
    name: 'MovieDetail',
    data() {
        return {
            detailMovie: null,
            review: '',
            myVote: null,
        }
    },
    created: function() {
        this.$http.get(`http://www.omdbapi.com/?i=${this.$store.state.imdbID}&apikey=`)
        .then((res) => {
            this.detailMovie = res;
            //console.log(res);
        }, (r) => {console.log(r)});
    },
    methods: {
        addReview() {
            if (this.$store.state.imdbID !== null) {
                const data = {
                    id: this.$store.state.imdbID,
                    title: this.detailMovie.data.Title,
                    poster: this.detailMovie.data.Poster,
                    review: this.review,
                    myVote: this.myVote
                }
                this.$store.commit('setMyReviewsAndVotes', data);
                this.$router.push('/favorite');
            } else {
                alert("ID null");
            }
        },
        goSearch() {
            this.$store.commit('setImdbID', null);
            this.detailMovie = null;
            this.review= '';
            this.myVote= null;
            this.$router.push('/search');
        }
    }
}
</script>

<style scoped>
.detailPage {
    display: flex;
    flex-direction: row;
}
.imgRow {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 20px;
}
.imgPoster {
    width: auto;
    height: auto;
}
.infoRow {
    width: 60%;
}
.reviewClass {
    width: 80%;
}
</style>