<template>
  <div>
      <div class="reviewLoop" v-for="(i, index) in this.$store.state.myReviewsAndVotes" :key="index">
        <div class="movieArea">
            <h3>{{i.title}}</h3>
            <img class="imgPoster" :src="i.poster" :alt="i.title">
        </div>
        <div class="reviewArea">
            <span class="myVote">{{i.myVote}}</span>
            <span class="review">{{i.review}}</span>
        </div>
        <button @click="deleteReview(index)">Delete Review</button>
      </div>
  </div>
</template>

<script>
export default {
    name: 'ReviewPage',
    methods: {
        deleteReview(index) {
            this.$store.commit('deleteMyReviewsAndVotes', index);
        }
    }
}
</script>

<style scoped>
.imgPoster {
    width: 120px;
    height: auto;
}
.reviewLoop {
    display: flex;
    flex-direction: row;
}
.movieArea {
    display: flex;
    flex-direction: column;
    width: 150px;
}
.reviewArea {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    border: 1px solid #00F;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 31px 13px 34px 10px rgba(107,102,107,0.47);
    -webkit-box-shadow: 31px 13px 34px 10px rgba(107,102,107,0.47);
    -moz-box-shadow: 31px 13px 34px 10px rgba(107,102,107,0.47);
}
.review {
    font-size: 28px;
}
.myVote {
    font-size: 18px;
}
</style>