<template>
  <div class="searchByTitle">
      <div>
        <input type="text" placeholder="Movie Title" v-model="searchMovieTitle">
        <button @click="getMovieByTitle">Search Movie By Title</button>
        <button @click="goFav">Go Fav</button>
        <table>
            <tr>
                <th>Movie Title</th>
                <th>Movie Year</th>
                <th>Movie Poster</th>
                <th>Add</th>
            </tr>
            <tr v-for="(i, index) in this.$store.state.searchRes.Search" :key="index">
                <td>{{i.Title}}</td>
                <td>{{i.Year}}</td>
                <td>
                    <img class="imgPoster" :src="i.Poster" :alt="i.Title">
                </td>
                <td>
                    <button @click="setFavorite(i)" >+</button>
                </td>
            </tr>
        </table>
      </div>
  </div>
</template>

<script>
export default {
    name: 'SearchByTitle',
    data() {
        return {
            searchMovieTitle: '',
        }
    },
    methods: {
        getMovieByTitle() {
            this.$http.get(`http://www.omdbapi.com/?s=${this.searchMovieTitle}&apikey=`)
            .then((res) => {
                //console.log(res);
                this.$store.commit('setSearchRes', res.data);
            },(r)=>{console.log(r)});
        },
        setFavorite(i) {
            //console.log(i);
            this.$store.commit('setFavoriteMovies', i);
            //this.$router.push('/favorite');
        },
        goFav() {
            this.$router.push('/favorite');
        }
    }
}
</script>

<style scoped>
.searchByTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgPoster {
    width: 120px;
    height: auto;
}
table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>